*.sublime-project
*.sublime-workspace
sftp-config*.json
sftp-settings.json
*.svn
*.hg
*.bzr
_darcs
CVS
*.DS_Store
Thumbs.db
desktop.ini
*.so
*.dylib
*.o
*.dSYM
*.pyc
.ipynb_checkpoints

!Makefile
!Makefile.inc
!*.py
!*.ipynb
!*.fig
!*.m
!*.hpp
!*.inl
!*.cpp
